
	<head>
		<title>About Grand Teton National Park</title>
		<link rel="stylesheet" type="text/css" href="styles/styles.css"/> 
	</head>
	<body>
		<div id="buffer"></div>
		<div id="wrapper">
			<div id="headerBlock">
				<section id="section1">
					<div id="aboutContent1">
						<h2 id="aboutHeadline">About</h2>
					</div>
					<div id="aboutContent3">
						<h3><span>L</span> orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non lacus justo. Fusce mattis tortor urna, id aliquam mi pulvinar id. Phasellus vel pharetra neque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla mattis pulvinar pharetra. Duis pulvinar quam eget erat viverra, quis posuere magna lobortis. Pellentesque ac est a odio varius semper vitae ac nulla. Nam purus massa, consectetur quis imperdiet eget, dictum ut dui. Curabitur pellentesque dui non vehicula venenatis. Duis quis mollis magna, ultricies cursus nunc. Praesent vulputate tempor quam sit amet bibendum. Proin bibendum nunc justo, tincidunt lobortis nunc ultricies non. Suspendisse congue vestibulum ipsum.</h3>
					</div>



				</section>
				<section id="section2">
					<div id="aboutContent2">
						<img src="images/parkMap.png" id="aboutImage">
					</div>
				</section>



			</div>
				<div id="headline">
					<h1>Visit Grand Teton National Park</h1>
				</div>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</nav>

		</div>
	</body>
