	<head>
		<title>Contact Grand Teton National Park</title>
		<link rel="stylesheet" type="text/css" href="styles/styles.css"/> 
	</head>
	<body>
		<div id="buffer"></div>
		<div id="wrapper">
			<div id="headerBlock">
				<section id="section1">
					<div id="contactContentBlock1">
						<img src="images/peakShot.png" id="contactImage">

					</div>

				</section>
				<section id="section2">
							<ul id="contactLinks">
								<li class="contactLI"><h2 class="nonHeadlineText">Contact</h2></li>
								<li class="contactLI"><a href="http://www.nps.gov/grte/index.htm">National Park Service</a></li>
								<li class="contactLI"><a href="http://en.wikipedia.org/wiki/Grand_Teton_National_Park">Wikipedia: Grand Teton</a></li>
								<li class="contactLI"><a href="http://www.wyomingtourism.org/thingstodo/detail/Grand-Teton-National-Park/3135">Wyoming Tourism</a></li>
								<li class="contactLI"><a href="http://www.tripadvisor.com/Tourism-g143029-Grand_Teton_National_Park_Wyoming-Vacations.html">Trip Advisor</a></li>
							</ul>
				</section>



			</div>
				<div id="headline">
					<h1>Visit Grand Teton National Park</h1>
				</div>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</nav>

		</div>
	</body>
