<!DOCTYPE html>
<html>
<head>
	<title>Visit Grand Teton National Park</title>
		<link rel="stylesheet" type="text/css" href="styles.css"/> 
		<script src="/scripts/main.js"></script>
</head>
<body>
	<%= yield %>
</body>
</html>